*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}
:root{
    --text-color: #667085;
    --main-color: #8E2424;
}

.topo{
    width: 100%;
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    font-size: 18px;
}

.topo img{
    width: 200px;
    height: 100%;
    margin: 0 5px;
    position: absolute;
    top: 0;
    left: 5px;
}

.botao-branco, .botao-vermelho, .botao-vermelho-bottom{
    font-size: 18px;
    font-family: arial;
    width: 120px;
    height: 40px;    
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.botao{
    position: absolute;
    right: 10%;
    top: 3%;
}

.botao-branco{
    background-color: #fff;
    color: var(--text-color);
}

.botao-vermelho, .botao-vermelho-bottom{
    background-color: var(--main-color);
    color: #f1eded;
}
.links{
    margin: 1% 20%;
}
.topo a{
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    font-family: arial;
    height: 30px;
}
div {
   margin: 0;
}

.sobre{
    padding-top: 15%;
}
.sobre span, .sobre h1, .sobre p, .equipe span, .colaboradores span{
    display: flex;
    justify-content: center;
}
.sobre span, .flex-item span, .equipe span, .colaboradores span{
    color: var(--main-color);
    font-family: tahoma;
    font-weight: bold;
}

.sobre span{
    font-size: 20px;
}
.sobre h1
{
    font-size: 48px;
    padding: 20px;
}
.sobre p, .equipe p{
    text-align: center;
    font-family: arial;
    font-size: 25px;
    color: var(--text-color);
    line-height: 50px;
    margin: 0 10%;

}
.flex-div{
    width: 100%;
    padding: 40px;
    display: flex;
}
.flex-item{
    gap: 0;
    margin: 0;
    padding: 20px;
    height: 300px;
}
.flex-item span{
    font-size: 40px;
}

.flex-item p{
    color: var(--text-color);
}
.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipe span{
    width: 200px;
    background-color: #ffeeee;
    border-radius: 15px;
    font-weight: normal;
    padding: 5px;
    margin: 20px 0;
}
.equipe p{
    padding: 30px 0;
}
.equipe img{
    margin: 30px;
    width: 100%;
}
.lista-vagas{
    display: flex;
    flex-direction: column;
}
.vagas-disponiveis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 40px;
}
.vagas-disponiveis h3{
    font-size: 30px;
    align-items: flex-start;
    margin: 30px;
    
}
.funcao{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 150px;
    padding: 20px;
    border: #d4d4d4 solid 1px;
    border-radius: 15px;
    line-height: 30px;
}

.veja{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colaboradores{
    width: 80%;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf4f4;
    border-radius: 15px;
    border: none;
}
.colaboradores span{
    margin: 20px 0;
    padding: 20px;
}
.colaboradores blockquote{
    font-size: 40px;
    text-align: center;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar img{
    margin: 10% 0;
    display: flex;
    align-items: center;
}
.colaboradores h3, .colaboradores p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.cadastro{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: #eaeaea;
}
.cadastro .acompanhe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: #f1eded;
    margin: 5%;
    height: 40px;
}
input{
    height: 40px;
    width: 100%;
}

@media (max-width: 1300px) {
    *{
        margin: 15px 0;
        box-sizing: border-box;
    }
    body{
    }
    .topo{
        position: static;
    }
    .topo img {
        height: 50px;
        width: 100px;
    }
    .topo button{
        display: flex;
        justify-content: space-between;
    }
    .botao-branco, .botao-vermelho{
        background-color: var(--main-color);
        color: #fff;
        width: 100px;
    }
    .botao-vermelho{
        left: -40px;
    }
    .botao-branco{
        right: 200px;
    }
    .links{
        margin: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 120px;
    }
    .flex-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .flex-item{
        height: 180px;
    }
    .sobre{
        margin-top: 120px;
    }
    .funcao{
        height: 250px;
        width: 250px;
}
.cadastro{
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: #eaeaea;
}
.cadastro .acompanhe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro h2{

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    background-color: #f1eded;
    margin: 5%;
    height: 40px;
}
input{
    height: 40px;
    width: 80%;
}
}